<!doctype html>
<html lang="zh-TW">
<!-- <html data-bs-theme="dark">  -->

<head>
    <!-- <title>Modbus Scan</title> -->
    <meta name="description" content="Modbus Scan" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- jquery -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="crossorigin="anonymous"></script> -->
    <script src="{{ url_for('static', filename='js/code.jquery.com_jquery-3.7.1.min.js') }}"></script>

    <!-- bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> -->
    <link href="{{ url_for('static', filename='css/cdn.jsdelivr.net_npm_bootstrap@5.3.1_dist_css_bootstrap.min.css') }}"
        rel="stylesheet" />
    <script
        src="{{ url_for('static', filename='js/cdn.jsdelivr.net_npm_bootstrap@5.3.1_dist_js_bootstrap.bundle.min.js') }}"></script>
    <link
        href="{{ url_for('static', filename='css/cdn.jsdelivr.net_npm_bootstrap-icons@1.10.5_font_bootstrap-icons.css') }}"
        rel="stylesheet" />

    <!-- 表格 -->
    <!-- <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" /> -->
    <!-- <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script> -->
    <link href="{{ url_for('static', filename='css/cdn.datatables.net_1.13.6_css_jquery.dataTables.min.css') }}"
        rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/cdn.datatables.net_1.13.6_js_jquery.dataTables.min.js') }}"></script>

    <!-- 圖表 -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"
    integrity="sha512-SIMGYRUjwY8+gKg7nn9EItdD8LCADSDfJNutF9TPrvEo86sQmFMh6MyralfIyhADlajSxqc7G0gs7+MwWF/ogQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script
        src="{{ url_for('static', filename='js/cdnjs.cloudflare.com_ajax_libs_Chart.js_4.4.0_chart.umd.min.js') }}"></script>

    <!-- tabulator 表格 -->
    <!-- <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.2.0/dist/js/tabulator.min.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/tabulator.min.js') }}"></script>

    <!-- <link href="https://unpkg.com/tabulator-tables@6.2.0/dist/css/tabulator.min.css" rel="stylesheet"> -->
    <!-- <link href="https://unpkg.com/tabulator-tables@6.2.0/dist/css/tabulator_simple.min.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='js/tabulator_simple.min.css') }}" rel="stylesheet">
    <!-- <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/xlsx.full.min.js') }}"></script>


    <style>
        /* 自定義進度條動畫秒數 */
        .progress-bar {
            transition: width 1s ease-in-out;
            /* 在這裡調整動畫秒數，這裡設置為1秒 */
        }
    </style>
</head>

<body>
    <div class="progress" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
        style="height: 1px">
        <div class="progress-bar" id="wait_time_progress" style="width: 0%"></div>
    </div>

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <h3>Modbus 設定</h3>

                <div class="row g-2 my-2">
                    <div class="col d-grid gap-2">
                        <input type="file" class="btn btn-outline-success" id="fileInput" title="讀取點位資料" accept=".json">
                    </div>
                    <div class="col d-grid gap-2">
                        <button type="button" class="btn btn-outline-primary"
                            onclick="export_point_data()">儲存點位資料</button>
                    </div>
                </div>
                <div class="input-group g-2 my-2" id="basic_inforation">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="ip" placeholder="127.0.0.1" value="127.0.0.1"
                            required>
                        <label for="floatingInputGrid">IP</label>
                    </div>
                    <div class="form-floating">
                        <input type="number" class="form-control" id="port" placeholder="502" value="502" required>
                        <label for="floatingInputGrid">Port</label>
                    </div>
                    <button type="button" class="btn btn-outline-danger" id="disconnect_modbus_btu"
                        onclick="disconnect_modbus()" style="display: none;">中斷</button>
                    <button type="button" class="btn btn-outline-primary" id="connect_modbus_btu"
                        onclick="connect_modbus()">連線</button>
                </div>

                <div class="input-group" id="basic_setting">
                    <div class="form-floating">
                        <input type="number" class="form-control " id="slave" placeholder="1" value="1" min="1">
                        <label for="floatingInputGrid">Slave</label>
                    </div>

                    <div class="form-floating">
                        <select class="form-select " id="point_type" aria-label="">
                            <option value="1">01: COIL STATUS</option>
                            <option value="2">02: INPUT STATUS</option>
                            <option selected value="3">03: HOLDING REGISTER</option>
                            <option value="4">04: INPUT REGISTER</option>
                        </select>
                        <label for="point_type"> 型態(其他有問題)</label>
                        <!-- Modbus Point Type -->
                    </div>
                    <div class="form-floating">
                        <input type="number" class="form-control " id="time_sleep" placeholder="1" value="1" step="1"
                            min="1">
                        <label for="floatingInputGrid">延遲秒數</label>
                    </div>
                </div>

                <div class="container text-center">
                    <div class="row">
                        <div class="col col-lg-2" id="number_success" title="成功數/取資料次數，重新連線會重置">
                            0/0
                        </div>
                        <div class="col">
                            <div class="progress g-2 my-2" role="progressbar" aria-label="Animated striped example"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                    style="width: 0%" id="progressbar">連線中</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-2 my-2">
                    <div class="col">
                        <label class="align-middle">點位動作：</label>
                    </div>
                    <div class="col d-grid gap-2">
                        <button type="button" class="btn btn-outline-success" onclick="add_point()">新增</button>
                    </div>
                    <div class="col d-grid gap-2">
                        <button type="button" class="btn btn-outline-dark" id="hide_columns_but"
                            onclick="hide_columns()">隱藏欄位</button>
                        <button type="button" class="btn btn-outline-secondary" id="show_columns_but"
                            onclick="show_columns()" style="display: none;">顯示欄位</button>
                    </div>
                    <div class="col d-grid gap-2">
                        <button type="button" class="btn btn-outline-primary"
                            onclick="update_table_point()">更新變動</button>
                    </div>
                </div>

                <div class="g-2 my-2">
                    <div id="row_setting_table"></div>
                </div>
                <br>

                <div class="g-2 my-2">
                    <h3>折線圖</h3>
                    <div class="row g-2 my-2">
                        <div class="col d-grid gap-2">
                            <button type="button" class="btn btn-outline-success" onclick="reset_chart()">重置圖表</button>
                        </div>
                    </div>
                    <canvas id="myChart"></canvas>
                </div>
                <br>
            </div>

            <div class="col-lg-6 col-xl-6">
                <h3>Logs 表格</h3>

                <div class="row g-2 my-2">
                    <div class="col d-grid gap-2">
                        <button type="button" class="btn btn-outline-success"
                            onclick="reset_history_checkbox()">重置表格</button>
                    </div>
                </div>

                <div id="show_switch" class="row user-select-none"></div>

                <br>
                <table id="history_table" class="display compact" style="width:100%">
                    <thead>
                        <tr>
                            <th>時間</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script> -->
    <script
        src="{{ url_for('static', filename='js/cdnjs.cloudflare.com_ajax_libs_socket.io_4.4.1_socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index_datatable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index_chart.js') }}"></script>

    <script>
        var data_id = 1
        var tabledata = [
            { "id": data_id, "is_valid": true, "is_log": false, "name": "測試", "point": 3001, "data_type": "float", "bit_num": 32, "scale": 1, "data_sort": "低到高", "decimal": 2 }
        ];

        var data_type = [
            "int",
            "uint",
            "float",
            "ascii",
        ]

        var bit_num = [
            16, 32, 64
        ]

        var table_point_columns = [
            { title: "ID", field: "id", headerSort: false, visible: false },
            { title: "有效", field: "is_valid", editor: true, formatter: "tickCross", hozAlign: "center", width: 40, headerSort: false, headerFilter: true },
            { title: "紀錄", field: "is_log", editor: true, formatter: "tickCross", hozAlign: "center", width: 40, headerSort: false, headerFilter: true },
            { title: "名稱", field: "name", editor: "input", headerSort: false, width: 100, tooltip: "歷史紀錄的欄位名稱" },
            { title: "點位", field: "point", editor: "number", width: 80 },
            {
                title: "型態", field: "data_type", editor: "list", headerSort: false, width: 60, editorParams: {
                    autocomplete: true,
                    allowEmpty: false,
                    listOnEmpty: true,
                    values: data_type,
                },
            },
            {
                title: "位元數", field: "bit_num", editor: "list", headerSort: false, width: 60, editorParams: {
                    autocomplete: true,
                    allowEmpty: false,
                    listOnEmpty: true,
                    values: bit_num,
                },
            },
            { title: "比例", field: "scale", editor: "number", headerSort: false, tooltip: "結果除與這個數字(通常除以1, 10, 100, 1000...)" },
            {
                title: "位元排序", field: "data_sort", editor: "list", headerSort: false, editorParams: {
                    autocomplete: true,
                    allowEmpty: false,
                    listOnEmpty: true,
                    values: ["高到低", "低到高"],
                },
            },
            {
                title: "小數", field: "decimal", editor: "number", headerSort: false, tooltip: "小數點點位", editorParams: {
                    min: 0,
                    max: 10,
                }
            },
            { title: "及時結果", field: "now_value", headerSort: false, editable: false, hozAlign: "right", width: 80, tooltip: "顯示結果" }, //visible:false隱藏
            {
                title: "刪除",
                field: "del",
                formatter: "buttonCross",
                headerSort: false,
                width: 40,
                align: "center",
                cellClick: function (e, cell) {
                    cell.getRow().delete();
                    // TODO 要加回傳結果
                }
            },
        ]

        var table_point = new Tabulator("#row_setting_table", {
            height: "400px",
            // layout: "fitColumns", // fitDataFill 多一欄位 自動填滿
            movableColumns: true, // 欄位可以移動
            // persistence:true, // 持久化配置
            columns: table_point_columns,
            data: tabledata,
            rowHeader: { hozAlign: "center", headerSort: false, width: "2px", formatter: "rownum" }, // 新增列首
            editTriggerEvent: "dblclick", //change edit trigger mode to make cell navigation smoother

            // selectableRows:true, // 點擊儲存格直接選擇一整列
            selectableRange: 1,
            // selectableRangeColumns: true,
            selectableRangeRows: true, // 可以選擇一整列
            selectableRangeClearCells: true,

            //複製儲存格相關設定
            clipboard: true,
            clipboardCopyStyled: false,
            clipboardCopyConfig: {
                rowHeaders: false,
                columnHeaders: false,
            },
            clipboardCopyRowRange: "range",
            clipboardPasteParser: "range",
            clipboardPasteAction: "range",
        });

        function add_point() {
            data_id += 1
            table_point.addData([{ "id": data_id, "is_valid": false, "is_log": false, "name": "", "point": 3000, "data_type": "float", "bit_num": 32, "scale": 1, "data_sort": "低到高", "decimal": 0 }])
            tabledata = table_point.getData()
        }

        var hide_list = ["is_valid", "is_log", "scale", "data_sort", "decimal", "del"]
        function hide_columns() {
            for (var i = 0; i < table_point_columns.length; i++) {
                if (hide_list.includes(table_point_columns[i].field)) {
                    table_point.hideColumn(table_point_columns[i].field)
                }
            }
            $("#hide_columns_but").css("display", "none");
            $("#show_columns_but").css("display", "");
        }

        function show_columns() {
            for (var i = 0; i < table_point_columns.length; i++) {
                if (hide_list.includes(table_point_columns[i].field)) {
                    table_point.showColumn(table_point_columns[i].field)
                }
            }
            $("#hide_columns_but").css("display", "");
            $("#show_columns_but").css("display", "none");
        }

        function update_table_point() {
            // 更改表格的變數型態
            tabledata = table_point.getData()

            for (var i=0; i<tabledata.length; i++){
                tabledata[i].decimal = Number(tabledata[i].decimal)
                tabledata[i].id = Number(tabledata[i].id)
                tabledata[i].point = Number(tabledata[i].point)
                tabledata[i].scale = Number(tabledata[i].scale)
                tabledata[i].is_log = Boolean(tabledata[i].is_log)
                tabledata[i].is_valid = Boolean(tabledata[i].is_valid)
                tabledata[i].name = tabledata[i].name.replace("\r", "");
                tabledata[i].now_value = ""
            }
            table_point.replaceData(tabledata) // 資料置換更新
            socket.emit("update_point_data", tabledata);
        }

        function export_point_data() {
            tabledata = table_point.getData()
            var jsonString = JSON.stringify(tabledata);
            var blob = new Blob([jsonString], { type: "application/json" });
            var a = document.createElement("a");
            a.href = URL.createObjectURL(blob);
            a.download = "data.json";
            a.click();
            URL.revokeObjectURL(a.href);
        }

        const fileInput = document.getElementById('fileInput'); // 匯入功能
        fileInput.addEventListener('change', function (e) {
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (event) {
                    const fileContent = event.target.result;

                    try {
                        const jsonData = JSON.parse(fileContent);
                        for (const [index, value] of jsonData.entries()) {
                            if (Number(value["id"]) > data_id){
                                data_id = Number(value["id"])
                            }
                        }

                        table_point.replaceData(jsonData) // 資料置換更新
                        update_table_point()
                    } catch (error) {
                        alert(`無法解析 JSON 資料:${error}`)
                    }
                };
                reader.readAsText(file);
            }
        });
    </script>
</body>

</html>
